.pop-up {
  position: absolute;
  width: 540px;
  height: 276px;
  border-radius: 4px;
  top: 20%;
  left: 29%;
  background-color: #f2f2f2;
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Ropa Sans", sans-serif;
  font-size: 20px;
}

button,
.button {
  min-width: 160px;
  min-height: 42px;
  border: none;
  color: #000;
  font-weight: bold;
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 42px;
}

img {
  max-width: 100%;
}

.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo h2 {
  color: #FFF;
  margin: 0;
  margin-right: .7rem;
}

.main-header {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

ul {
  list-style: none;
}

.main-navbar {
  position: absolute;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-navbar .button {
  margin-left: .7rem;
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 98;
  color: #FFF;
  height: 100vh;
}

.cta .container {
  margin-top: auto;
  height: 55%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cta .container .heading {
  text-align: center;
  margin-bottom: 2.7rem;
}

.cta .container form {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .cta .container form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cta .container form .button {
  padding: 1rem 1.5rem;
  font-size: .9rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cta .container form .button i {
  font-size: 1.5rem;
  padding: 0 1rem;
  position: relative;
  z-index: 1;
}

.cta .container form .button:first-child {
  margin-right: .5rem;
}

.cta .container form .button:last-child {
  margin-left: 0.5rem;
}

@media screen and (max-width: 992px) {
  .cta .container form .button {
    margin: 0 !important;
    width: 50%;
    margin-top: 1rem !important;
  }
}

.img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(43%);
          filter: brightness(43%);
  position: absolute;
  top: 0;
  min-width: 100%;
  min-height: 100%;
}

.second-part .title {
  text-align: center;
}

.third-part {
  min-height: 400px;
  background: #419D78;
  position: relative;
}

.third-part .col-sm-12 {
  position: static;
}

.third-part .app {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 37%;
}

@media screen and (max-width: 1200px) {
  .third-part .app {
    position: static;
  }
}

@media screen and (max-width: 1200px) {
  .third-part .track {
    text-align: center;
  }
}

.third-part .badges a {
  display: block;
  width: 10rem;
}

.third-part .badges a:last-child {
  margin-left: 1rem;
}

.third-part .badges a img {
  width: 100%;
  height: 100%;
}

.bottom-nav .logo h2 {
  color: #000;
}

.bottom-nav ul {
  margin: 0;
}

.bottom-nav ul li a {
  display: block;
  padding: .5rem 1.5rem;
  color: #000;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */