// @import 'background';
// @import 'background-tools';


// //Variables
// //colors

$primary-color : #f2f2f2;
$sub-heading-color:#fffdfd;
$heading-buttons-two:#419D78;
$body-color:#f4f4f4;
$second-body-color:#000;
$body-fonts:"Ropa Sans";
$position-place:absolute;
$position-move:relative;

// //Settings for the hole page
// * {
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
//     background-color: none;
// }

// //Body Settings
// body {
//     line-height: 1.6;
// }

// //logo and buttons 

// //logo

// /* width */
// ::-webkit-scrollbar {
//     width: 17px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//     box-shadow: inset 0 0 5px $primary-color;
//     border-radius: 50px;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//     background: $heading-buttons-two;
//     border-radius: 50px;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//     background: #275e48;
// }

// //background 5raaa xD
// .second-part {
//     background-color: #fff;
//     width: 100%;
//     height: 80vh;
//     position: absolute;
//     top: 80.7%;
// }

// .title {
//     position: absolute;
//     width: 173px;
//     height: 36px;
//     left: 42.9%;
//     //top: 1010px;
//     font-family: $body-fonts;
//     font-style: normal;
//     font-weight: 400;
//     font-size: 34px;
//     line-height: 36px;
//     color: $second-body-color;
//     margin-top: 60px;
// }

// .sekhra {
//     position: absolute;
//     width: 179px;
//     height: 26px;
//     left: 240px;
//     top: 236px;
//     font-family: $body-fonts;
//     font-style: normal;
//     font-weight: 400;
//     font-size: 24px;
// }

// .desc {
//     position: absolute;
//     width: 262px;
//     height: 26px;
//     left: 240px;
//     top: 274px;
//     font-family: $body-fonts;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 18px;
//     line-height: 26px;
//     /* identical to box height, or 144% */
//     color: $second-body-color;
// }

// .order {
//     position: absolute;
//     width: 179px;
//     height: 26px;
//     left: 58%;
//     top: 315px;
//     font-family: $body-fonts;
//     font-style: normal;
//     font-weight: 500;
//     font-size: 28px;
// }

// .serve {
//     position: absolute;
//     width: 149px;
//     height: 26px;
//     left: 734px;
//     top: 367px;
//     font-family: $body-fonts;
//     font-style: normal;
//     font-weight: 400;
//     font-size: 19px;
//     line-height: 26px;
//     /* identical to box height, or 144% */
//     color: $second-body-color;
// }

// .time {
//     position: absolute;
//     width: 292px;
//     height: 52px;
//     left: 58%;
//     top: 73%;
//     font-family: $body-fonts;
//     font-style: normal;
//     font-weight: 500;
//     font-size: 28px;
//     line-height: 26px;
//     /* or 144% */
//     color: $second-body-color;
// }

// .micro {
//     position: absolute;
//     width: 292px;
//     height: 52px;
//     left: 58%;
//     top: 79%;
//     font-family: $body-fonts;
//     font-style: normal;
//     font-weight: 500;
//     font-size: 19px;
//     line-height: 26px;
//     /* or 144% */
//     color: $second-body-color;
// }

// .third-part {
//     width: 100%;
//     height: 319.6px;
//     background-color: $heading-buttons-two;
//     position: absolute;
//     top: 160%;
// }

// .app {
//     width: 39%;
//     position: absolute;
//     top: -92%;
//     height: 643px;
//     left: 2%;
// }

// .track {
//     position: absolute;
//     width: 23%;
//     height: 52px;
//     left: 43%;
//     top: 53px;
//     font-family: $body-fonts;
//     font-style: normal;
//     font-weight: 400;
//     font-size: 34px;
//     line-height: 36px;
//     color: $primary-color;
// }

// .getin {
//     width: 205px;
//     height: 225px;
//     position: absolute;
//     left: 43%;
//     top: 22%;
// }

// .apple {
//     width: 250px;
//     height: 139px;
//     position: absolute;
//     left: 58%;
//     top: 42%;
// }

// .bottom-nav {
//     position: absolute;
//     background-color: #f4f4f4;
//     width: 100%;
//     height: 13vh;
//     top: 195%;
// }

// ul {
//     position: absolute;
//     font-family: "Ropa Sans";
//     font-style: normal;
//     font-weight: 400;
//     font-size: 18px;
//     line-height: 17px;
//     color: $second-body-color;
//     position: absolute;
//     left: 54%;
//     top: 20%;

//     li {
//         display: flex;
//         float: right;
//         color: $second-body-color;
//         text-align: center;
//         padding: 44px 26px;
//         text-decoration: none;
//         font-size: 18px;
//         font-weight: bold;
//         margin-right: 80px;
//     }

//     li:hover {
//         color: #38bb87;
//         border-radius: 15px;
//     }
// }

// .jibli-f {
//     position: absolute;
//     font-family: $body-fonts;
//     font-weight: 400;
//     font-size: 60px;
//     display: flex;
//     align-items: center;
//     top: 21%;
//     left: 13%;
// }

// .jible-logo {
//     height: 77px;
//     position: absolute;
//     -ms-flex-align: center;
//     top: 35%;
//     left: 21%;
// }

//pop-up
.pop-up {
    position: absolute;
    width: 540px;
    height: 276px;
    border-radius: 4px;
    top: 20%;
    left: 29%;
    background-color: $primary-color;
    display: none;
}

// .lOgin {
//     position: absolute;
//     width: 72px;
//     height: 36px;
//     left: 18%;
//     top: 58px;
//     font-family: $body-fonts;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 34px;
//     line-height: 36px;
//     color: $second-body-color;
// }

// .service {
//     position: absolute;
//     width: 157px;
//     height: 17px;
//     left: 18%;
//     top: 38%;
//     font-family: $body-fonts;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 16px;
//     line-height: 17px;
//     color: #909090;
// }

// #fb-login {
//     position: absolute;
//     width: 350px;
//     height: 62px;
//     left: 18%;
//     top: 59%;
//     background: #1356A4;
//     border-radius: 4px;
//     border: none;
//     color: $primary-color;
//     font-size: 23px;
// }


// .flur {
//     border-radius: 50%;
//     position: absolute;
//     width: 46px;
//     height: 46px;
//     top: -19px;
//     left: 517px;
//     background: #242424;
//     opacity: 0.9;
//     border: none;
// }

// .x {
//     position: absolute;
//     width: 12px;
//     height: 12px;
//     top: 7px;
//     left: 32%;
//     /* border: 2px solid #FFFFFF; */
//     font-size: 21px;
//     color: $primary-color;
//     opacity: 1;
// }

// /*sign up page code */
// .page {
//     height: 100vh;
//     overflow-x: hidden;
//     overflow-y: hidden;

// }

// .panner {
//     background-color: $primary-color;
//     width: 91%;
//     height: 70vh;
//     position: relative;
//     top: 16%;
//     margin-left: 7.2%;
//     border: none;
//     border-top-right-radius: 15px 15px;
//     border-bottom-right-radius: 15px 15px;
//     box-shadow: 10px 85px 85px 35px #d7d7d7;
// }

// .left {
//     border-top-left-radius: 15px 15px;
//     border-bottom-left-radius: 15px 15px;
//     border: none;
//     background-color: $heading-buttons-two;
//     width: 32.27%;
//     margin-left: -3.9%;
//     height: 70vh;
// }

// .imgleft {
//     width: 138.2%;
//     margin-left: -5.9%;
//     height: 70vh;
//     border-top-left-radius: 15px 15px;
//     border-bottom-left-radius: 15px 15px;
// }

// .register {
//     top: -91%;
//     font-size: 45px;
//     position: relative;
//     margin-left: 58%;
//     font-family: Arial, Helvetica, sans-serif;
//     color: #419D78;
//     display: inline-block;
//     left: -2%;
// }

// .signinp {
//     position: relative;
//     bottom: 152%;
//     display: inline;
// }

// #firstname {
//     top: 47%;
//     background-color: #86948f;
//     position: relative;
//     height: 62px;
//     width: 266px;
//     left: 46.3%;
//     margin-top: 1%;
//     margin-right: 2%;
//     border: 2px solid #000;
//     border-radius: 10px;
// }

// #firstname::placeholder {
//     font-size: 25px;
//     padding: 25px;
//     color: $primary-color;
// }

// #lastname {
//     top: 47%;
//     background-color: #86948f;
//     position: relative;
//     height: 62px;
//     width: 266px;
//     left: 46.5%;
//     margin-top: 13%;
//     margin-right: 2%;
//     border: 2px solid #000;
//     border-radius: 10px;
// }

// #lastname::placeholder {
//     font-size: 25px;
//     padding: 25px;
//     color: $primary-color;
// }

// #gmail {
//     left: 46.2%;
//     top: 50%;
//     background-color: #86948f;
//     position: relative;
//     height: 65px;
//     width: 565px;
//     margin-right: 392px;
//     margin-left: 0%;
//     border: 2px solid #000;
//     border-radius: 10px;
// }

// #phonenumber {
//     top: 53%;
//     background-color: #86948f;
//     position: relative;
//     height: 65px;
//     width: 565px;
//     left: 46.2%;
//     margin-right: 392px;
//     margin-left: 0%;
//     border: 2px solid #000;
//     border-radius: 10px;
// }

// #password {
//     background-color: #86948f;
//     position: relative;
//     height: 62px;
//     width: 273px;
//     left: 46.2%;
//     border: 2px solid #000;
//     border-radius: 10px;
// }

// #passwordagain {
//     margin-right: 7%;
//     background-color: #86948f;
//     position: relative;
//     height: 62px;
//     width: 266px;
//     left: 48.19%;
//     margin-top: 30.5%;
//     border: 2px solid #000;
//     border-radius: 10px;
// }


@import './sections/global';
@import './sections/header';
@import './sections/second-part';
@import './sections/third-part';
@import './sections/bottom-nav';